@import "tailwindcss";

@theme {
  --color-primary: #13daec;
  --color-primary-dark: #0eaab9;
  --color-background-light: #f6f8f8;
  --color-background-dark: #102022;
  --color-text-main: #111718;
  --color-text-sub: #618689;
  
  --font-display: "Work Sans", sans-serif;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}

/* Custom Utilities */
@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .text-shadow-md {
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

body {
  font-family: var(--font-display);
}
